.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.app-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text within the form */
}

.login-form label {
    margin-bottom: 8px; /* Add margin below labels for spacing */
}

.login-form input {
    width: 100%; /* Make the input fields take the full width of the container */
    margin-bottom: 12px; /* Add margin below input fields for spacing */
}

.login-form button {
    margin-top: 5px; /* Add margin to the top of the button for spacing */
}
  